{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="/client">
            <img src="/media/imgtool_icon_trans.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/client">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/image">Images View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/usergroup">UserGroup View</a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <span class="navbar-text" style="color:aquamarine">
                    User:{{ username }}
                </span>
                <li class="nav-item active">
                    <a class="nav-link" href="/client/pwscreen">Set Password<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
<!--<p align="right">User:{{ username }}, <a href="/client">Home</a>, <a href="/client/image"> manage images</a>, <a href="{% url 'logout' %}">Logout</a>, 
			<a href="/admin/">Admin</a></p>
-->

<div align="center">
<b>Set new password</b>
<form action="/client/setPasswords/" method="post">
{% csrf_token %}
<input type="text" name="password">
<input type="submit" name="submit" value="SetPassword"/>
</div>
</form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
 {% endblock %}

