{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<p align="right">User:{{ username }}, <a href="/client">Home</a>, <a href="/client/image"> manage images</a>, <a href="{% url 'logout' %}">Logout</a>, 
			<a href="/admin/">Admin</a></p>


<div align="center">
<b>Set new password</b>
<form action="/client/setPasswords/" method="post">
{% csrf_token %}
<input type="text" name="password">
<input type="submit" name="submit" value="SetPassword"/>
</div>
</form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
 {% endblock %}

